.App{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.todo-create{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #a59b9b;
}
.todo-input{
  width: 300px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #002053;
  outline: none;
  border-radius: 5px;
}
.todo-button{
  width: 100px;
  height: 35px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0091b9;
  color: white;
  font-weight: 800;
  cursor: pointer;
}
.todo-icons{
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}