.App{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.todo-create{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #c4b7b7;
}
.todo-input{
  width: 300px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #09c11b;
  outline: none;
  border-radius: 5px;
}